@import url("https://fonts.googleapis.com/css2?family=Cambo&display=swap");

* {
  font-family: "Cambo", serif;
  font-weight: 400;
  font-style: normal;
}
.navbar {
  border-bottom: 2px solid #fff;
  z-index: 1;
  background-color: black;
}
.navbar .navbar-brand,
.navbar li a {
  color: #fff;
}
.navbar li {
  margin: 0 20px;
}
.navbar .navbar-toggler-icon,
.navbar-toggler .navbar-toggler-icon {
  color: #fff !important;
}

.navbar li a {
  -webkit-transition: color 2s; /* For Safari 3.0 to 6.0 */
  transition: color 2s; /* For modern browsers */
  text-align: center;
}
.navbar li a:hover {
  color: teal;
  border-bottom: 1px solid teal;
}

/* about style */

.about-content {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #fff;
}
.about-content span {
  margin: 0 10px;
  color: yellow;
}
.about-content h5 {
  padding: 10px;
  line-height: 1.5;
}

h2 {
  padding: 10px;
  animation: h 2s 1;
}

@keyframes h {
  0% {
    color: teal;
    margin-bottom: -40px;
  }

  30% {
    letter-spacing: 10px;
    margin-bottom: -20px;
  }

  85% {
    letter-spacing: 8px;
    margin-bottom: -20px;
  }
}

/* Skills style */
.skills {
  color: #fff;
  padding-top: 30px;
}
.skill-1 {
  display: inline-block;
  width: 170px;
  color: teal;
  padding: 20px 0;
}
.skill-1 p {
  -webkit-transition: color 3s; /* For Safari 3.0 to 6.0 */
  transition: color 3s; /* For modern browsers */
  display: grid;
  justify-items: center;
}
.skills .skill-1:hover {
  color: rgb(88, 201, 201);
  transform: scale(1.5);
}
.icon-size {
  font-size: 50px;
}
@media (max-width: 575px) {
  .skill-1 {
    display: grid;
    justify-content: center;
    width: 150px !important;
  }
}
/* Projects Style */
.heading {
  color: #fff;
}
.projects .card {
  background-color: #000;
  color: #fff;
}

/* Experience style */

.experience .card {
  background-color: teal;
  color: #fff;
}

/* Education style */

.education .list-group-item {
  background-color: teal;
  color: #fff;
}
/* contact style */
.contact a {
  display: flex;
  margin-left: 50px;
  color: teal;
  padding: 10px 0;
}
.contact .first {
  margin-top: 50px;
}
